<%= form_tag url_for(controller: 'business_logic', action: 'output'), method: 'get', id: 'input_form' do %>

  <h3><%= label_tag :max, 'N-значное число' %></h3>
  <%= number_field_tag :max, nil, required: true, id: 'input_field' %>
  <br>
  <%= submit_tag 'Вывести массив армстронга' %>

<% end %>
<%= link_to 'Logout', logout_path %>
