<p id="notice"><%= notice %></p>

<p>
  <strong>Login:</strong>
  <%= @user.login %>
</p>

<p>
  <strong>Password:</strong>
  <%= '*' * @user.password.to_s.length %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'To user list', users_path %> |
<%= link_to 'To the main page', '/' %>

